html {
    font-size: 1.25rem;
}

body {
    margin: 0;
}

svg {
    display: inline-block;
    vertical-align: middle;
}

.App {
    font-family: sans-serif;
    text-align: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
    font-size: 1.25rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.25rem;
    line-height: 2.25rem;
}

.flex-row-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
}

.flex-row-row--active {
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
}

hr {
    border-width: 1px;
    border-style: dashed;
    width: 100%;
}
